<head>
    <link rel="stylesheet" href="/assets/css/gestion.css">
</head>

<div class="cuerpo">
    <form 
        id="datos" 
        hx-post="/api/{{ url }}" 
        hx-encoding="{{ encoding }}"
        hx-target-error="#contenedorError" 
        hx-on::after-request="volver(event)"
    >
        {% for campo in campos %}
        {% match campo.tipo %}
            {% when TipoCampo::TEXT %}
            <div>
                <label for="{{ campo.nombre }}">{{ campo.titulo }}:</label>
                <input type="text"  name="{{ campo.nombre }}">
            </div>
            {% when TipoCampo::MAIL %}
            <div>
                <label for="{{ campo.nombre }}">{{ campo.titulo }}:</label>
                <input type="mail"  name="{{ campo.nombre }}">
            </div>
            {% when TipoCampo::PASSWORD %}
            <div>
                <label for="{{ campo.nombre }}">{{ campo.titulo }}:</label>
                <input type="password"  name="{{ campo.nombre }}">
            </div>
            {% when TipoCampo::CHECK %}
            <div>
                <label for="{{ campo.nombre }}">{{ campo.titulo }}:</label>
            <input type="checkbox"  name="{{ campo.nombre }}">
            </div>
            {% when TipoCampo::DATE %}
            <div>
                <label for="{{ campo.nombre }}">{{ campo.titulo }}:</label>
                <input type="date"  name="{{ campo.nombre }}">
            </div>
            {% when TipoCampo::TEXTAREA %}
            <div class="campo">
                <label for="{{ campo.nombre }}">{{ campo.titulo }}:</label>
                <textarea 
                    name="{{ campo.nombre }}" 
                    rows="5" 
                    cols="10" 
                ></textarea>
            </div>
            {% when TipoCampo::FILE %}
            <div class="campo">
                <label for="{{ campo.nombre }}">{{ campo.titulo }}:</label>
                <button 
                    hx-on:click="abrirImagen()"
                    type="button"
                >
                    Ver imagen
                </button>
                <button 
                    hx-on:click="abrirArchivo('{{ campo.nombre }}')"
                    type="button"
                >
                    Subir imagen
                </button>
                <input 
                    type="file" 
                    name="{{ campo.nombre }}" 
                    hx-on:change="cargarImagen(event)"
                    hidden
                >
            </div>
            {% else %}
            <div>
                <label for="{{ campo.nombre }}">{{ campo.titulo }}:</label>
                <input type="text"  name="{{ campo.nombre }}">
            </div>
        {% endmatch %}
        {% endfor %}
        <div id="botonesDatos" class="botones">
            <input type="submit" class="confirmar" value="Crear">
            <input 
                type="button" 
                class="cancelar" 
                value="Cancelar" 
                hx-get="/gestion/{{ url }}"
                hx-trigger="click"
                hx-target="#cuerpo"
                hx-swap="innerHTML"
            >
        </div>
    </form>
    <div id="contenedorError" class="esconder" hx-on::after-settle="this.classList.remove('esconder')"></div>
</div>
<dialog id="imagenDialog">
    <div class="cuerpo">
        <img 
            id="imagen" 
            alt="Imagen"
        >
    </div>
    <div class="acciones">
        <button onclick="document.getElementById('imagenDialog').close()">
            Cerrar
        </button>
    </div>
</dialog>

<script>
    function cargar(){}    

    function volver(e) {
        if (e.detail?.xhr?.status < 300) {
            htmx.ajax('GET', '/gestion/{{ url }}', '#cuerpo');
        };
    };

    function cargarImagen(e) {
        var src = URL.createObjectURL(e.target.files[0])
        document.getElementById('imagen').src = src
    }

    function abrirArchivo(nombre) {
        document.getElementsByName(nombre)[0].click();
    }

    function abrirImagen() {
        document.getElementById('imagenDialog').showModal();
    }
</script>
