<div class="botones">
    <button
        hx-get="/gestion/menu"
        hx-trigger="click"
        hx-target="#cuerpo"
        hx-swap="innerHTML"
    >
        Menú
    </button>
    <button onclick="document.getElementById('filtro').showModal()">
        Filtro
    </button>
</div>
<div class="registros">
    {% if lista.len() > 0 %}
    {% for registro in lista %}
    <a
        hx-get="gestion/{{ url }}/{{ registro.id }}"
        hx-trigger="click"
        hx-target="#cuerpo"
        hx-swap="innerHTML"
        class="registro"
    >
        <h2>{{ registro.titulo }}</h2>
        <div>
            {% for (titulo, valor) in registro.valores %}
            <p><b>{{ titulo }}</b>: <span>{{ valor }}</span></p>
            {% endfor %}
        </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No hay registros</p>
    {% endif %}
</div>
<button
    hx-post="/gestion/{{ url }}"
    hx-trigger="click"
    hx-target="#cuerpo"
    hx-swap="innerHTML"
>
    +
</button>
<dialog id="filtro">
    <div class="cuerpo">
        <h3>Filtro</h3>
        <input 
            type="text" 
            id="campoFiltro" 
            name="filtro" 
            onkeyup="filtrar()"
        >
    </div>
    <div class="acciones">
        <button onclick="document.getElementById('filtro').close()">
            Cerrar
        </button>
    </div>
</dialog>

<script>
function cargar(e) {
    let _url = new URL(location.href);
    let _filtro = _url.searchParams.get('q');
    document.getElementById('campoFiltro').value = document.getElementById('campoFiltro').value == "" ?
        _filtro : document.getElementById('campoFiltro').value;
    filtrar();
}
function filtrar() {
    let _url = new URL(location.href);
    let _valor = document.getElementById('campoFiltro').value;
    let _registros = [...document.getElementsByClassName('registro')];
    let _filtrados = _registros.filter((registro) => {
        return !registro.getElementsByTagName('h2')[0].textContent.toLowerCase().includes(_valor)
            && [...registro.getElementsByTagName('span')].every((campo) => {
                return !campo.textContent.toLowerCase().includes(_valor);
            });
    }).map(registro => { 
        registro.classList.add('esconder'); 
        return registro;
    });
    _registros.filter((registro) => {
        return !_filtrados.includes(registro);
    }).forEach(registro => { registro.classList.remove('esconder')});
    _url.searchParams.set('q', _valor);
    history.replaceState(null, null, _url);
};
</script>
