<table style="background-color:#282828" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <div style="width: 70%; text-align: left; margin-bottom: 20px;">
                <h3 style="width: 100%; color: #EBDBB2; margin-bottom: 0;">Nombre:</h3>
                <p style="width: 100%; color: #EBDBB2; border: 1px solid #EBDBB2; padding: 5px 10px; margin-top: 0;">{{ nombre }}</p>
                <h3 style="width: 100%; color: #EBDBB2; margin-bottom: 0;">Apellidos:</h3>
                <p style="width: 100%; color: #EBDBB2; border: 1px solid #EBDBB2; padding: 5px 10px; margin-top: 0;">{{ apellidos }}</p>
                <h3 style="width: 100%; color: #EBDBB2; margin-bottom: 0;">Edad:</h3>
                <p style="width: 100%; color: #EBDBB2; border: 1px solid #EBDBB2; padding: 5px 10px; margin-top: 0;">{{ edad }}</p>
                <h3 style="width: 100%; color: #EBDBB2; margin-bottom: 0;">Email:</h3>
                <p style="width: 100%; color: #EBDBB2; border: 1px solid #EBDBB2; padding: 5px 10px; margin-top: 0;">{{ email }}</p>
                <h3 style="width: 100%; color: #EBDBB2; margin-bottom: 0;">Teléfono:</h3>
                <p style="width: 100%; color: #EBDBB2; border: 1px solid #EBDBB2; padding: 5px 10px; margin-top: 0;">{{ telefono }}</p>
            </div>
        </td>
    </tr>
</table>
