:root {
    --bg-color: #282828;
    --bg1-color: #3C3836;
    --fg-color: #EBDBB2;
    --fg2-color: #D5C4A1;
    --gray-color: #928374;
    --light-gray-color: #a89984;
    --red-color: #FB4934;
    --aqua-color: #8EC07C;
    --ancho-nav: 4.5vmin;
}

html {
    scroll-behavior: smooth;

    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fg-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color-scheme: dark;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background: var(--bg-color);
}

svg {
    fill: var(--fg-color);
}

.error {
    color: var(--red-color);
}

.esconder {
    display: none !important;
}

a:hover {
    cursor: pointer;
}

dialog[open] {
    max-height: 70vh;
    max-width: 70vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    padding: 10px 10px;

    background: var(--bg-color);
}

dialog[open] * {
    width: 100%;
}

dialog[open] div.cuerpo {
    overflow: auto;
}

dialog[open] div.cuerpo * {
    width: 100%;
}

dialog[open] div.acciones {
    display: flex;
}

dialog[open] div.acciones * {
    width: 100%;
}

/* Formularios */
input, button, textarea, select {
    width: 100%;

    padding: 10px 20px;

    background: var(--bg-color);
    border: 1px solid var(--fg-color);
}

textarea {
    resize: vertical;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
    outline: none;
}

input:disabled, textarea:disabled, select:disabled {
    border-color: var(--gray-color);
}

input[type=submit]:not(:disabled):hover, input[type=button]:not(:disabled):hover, button:not(:disabled):hover, select:not(:disabled):hover,
input[type=submit]:not(:disabled):focus-visible, input[type=button]:not(:disabled):focus-visible, button:not(:disabled):focus-visible, select:not(:disabled):focus-visible {
    cursor: pointer;

    color: var(--bg-color);
    background: var(--fg-color);
    border-color: var(--bg-color);
}

div:has(input[type=checkbox]) {
    position: relative;
}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;

    margin: 0;

    background-color: var(--bg-color);
    color: var(--fg-color);
    border: 1px solid var(--fg-color);
}

input[type=checkbox]::after {
    content: "No";
}

input[type=checkbox]:checked::after {
    content: "Si";
}

input[type=checkbox]:not(:disabled):hover {
    cursor: pointer;
    color: var(--bg-color);
    background: var(--fg-color);
}

input[type="date"] {
    position: relative;
}

input[type="date"]:not(:disabled):hover {
    cursor: pointer;
    color: var(--bg-color);
    background: var(--fg-color);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.confirmar {
    color: var(--aqua-color);
    border-color: var(--aqua-color) !important;
}

.confirmar:not(:disabled):hover, .confirmar:not(:disabled):focus-visible {
    background-color: var(--aqua-color) !important;
}

.cancelar {
    color: var(--red-color);
    border-color: var(--red-color) !important;
}

.cancelar:not(:disabled):hover, .cancelar:not(:disabled):focus-visible {
    background-color: var(--red-color) !important;
}

/* Nav */

nav {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    translate: 0 -50%;

    padding: 15px 15px;

    background: var(--bg1-color);
    border-radius: 30px 0 0 30px;
}

nav.izquierda {
    right: unset;
    left: 0;

    transform: scaleX(-1);
}

nav.izquierda a{
    transform: scaleX(-1);
}

nav::after {
    content: "";

    width: 50%;
    aspect-ratio: 1 / 1;

    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);

    background: radial-gradient(circle at 0 0, transparent, transparent 70%, var(--bg1-color) 70%, var(--bg1-color));
}

nav::before {
    content: "";

    width: 50%;
    aspect-ratio: 1 / 1;

    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);

    background: radial-gradient(circle at 0 100%, transparent, transparent 70%, var(--bg1-color) 70%, var(--bg1-color));
}

nav a {
    width: var(--ancho-nav);

    display: block;
}

nav a svg {
    width: 100%;
    height: auto;
}

/* Dashboard */
div#dashboard {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: -100%;
}

div#dashboard div {
    height: 50%;

    flex: 1 1 50%;
    position: relative;
    overflow: hidden;
}

div#dashboard div img {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;
    object-fit: cover;
    filter: opacity(.3) saturate(0);
    transition: all .5s ease-in;
}

div#dashboard div:hover img {
    filter: opacity(.7) saturate(.5);
    transition: all .5s ease-out;
}

div#dashboard div a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#dashboard div a svg {
    width: 20%;
    height: auto;
}
