:root {
    --bg-color: #282828;
    --fg-color: #EBDBB2;
    --red-color: #FB4934;
}

html {
    scroll-behavior: smooth;

    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fg-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background: var(--bg-color);
}

input {
    background: var(--bg-color);
    border: 1px solid var(--fg-color);
}

svg {
    fill: var(--fg-color);
}

/* Nav */

nav {
    height: 100vh;
    width: 5vmin;

    position: absolute;
    z-index: 1;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav.izquierda {
    right: unset;
    left: 0;
}

nav a {
    width: 80%;
}

nav a:hover {
    cursor: pointer;
}

nav a svg {
    width: 100%;
    height: auto;
}
