:root {
    --bg-color: #282828;
    --bg1-color: #3C3836;
    --fg-color: #EBDBB2;
    --fg2-color: #D5C4A1;
    --gray-color: #928374;
    --light-gray-color: #a89984;
    --red-color: #FB4934;
    --aqua-color: #8EC07C;
    --ancho-nav: 4.5vmin;
}

html {
    scroll-behavior: smooth;

    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fg-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background: var(--bg-color);
}

svg {
    fill: var(--fg-color);
}

.error {
    color: var(--red-color);
}

.esconder {
    display: none !important;
}

a:hover {
    cursor: pointer;
}

/* Formularios */
input, button {
    width: 100%;

    padding: 10px 20px;

    background: var(--bg-color);
    border: 1px solid var(--fg-color);
}

input:focus-visible {
    outline: none;
}

input[type=submit]:hover, input[type=button]:hover, button:hover {
    cursor: pointer;

    color: var(--bg-color);
    background: var(--fg-color);
}

input:disabled {
    border-color: var(--gray-color);
}

.confirmar {
    color: var(--aqua-color);
    border-color: var(--aqua-color);
}

.confirmar:hover {
    background-color: var(--aqua-color);
}

.cancelar {
    color: var(--red-color);
    border-color: var(--red-color);
}

.cancelar:hover {
    background-color: var(--red-color);
}

/* Nav */

nav {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    translate: 0 -50%;

    padding: 15px 15px;

    background: var(--bg1-color);
    border-radius: 30px 0 0 30px;
}

@media (max-width: 754px) {
    nav {
        top: unset;
        bottom: 0;
    }
}

nav.izquierda {
    right: unset;
    left: 0;

    transform: scaleX(-1);
}

nav.izquierda a{
    transform: scaleX(-1);
}

nav::after {
    content: "";

    width: calc(var(--ancho-nav)/2);
    height: calc(var(--ancho-nav)/2);

    position: absolute;
    top: calc(var(--ancho-nav)/-2);
    right: 0;

    background: radial-gradient(circle at 0 0, transparent, transparent calc(var(--ancho-nav)/2), var(--bg1-color) calc(var(--ancho-nav)/2), var(--bg1-color));
}

nav::before {
    content: "";

    width: calc(var(--ancho-nav)/2);
    height: calc(var(--ancho-nav)/2);

    position: absolute;
    bottom: calc(var(--ancho-nav)/-2);
    right: 0;

    background: radial-gradient(circle at 0 100%, transparent, transparent calc(var(--ancho-nav)/2), var(--bg1-color) calc(var(--ancho-nav)/2), var(--bg1-color));
}

nav a {
    width: var(--ancho-nav);

    display: block;
}

nav a svg {
    width: 100%;
    height: auto;
}

/* Dashboard */
div#dashboard {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: -100%;
}

div#dashboard div {
    height: 50%;

    flex: 1 1 50%;
}

div#dashboard div a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#dashboard div a svg {
    width: 20%;
    height: auto;
}

/* Transicion */
@keyframes fade-in {
    from { opacity: 0; }
}

@keyframes fade-out {
    to { opacity: 0; }
}

@keyframes slide-from-right {
    from { transform: translateX(90px); }
}

@keyframes slide-to-left {
    to { transform: translateX(-90px); }
}

#root {
    view-transition-name: root;
}

::view-transition-old(root) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(root) {
    animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
