main {
    height: 100vh;
    overflow: auto;

    scroll-snap-type: y mandatory;
}

article {
    width: 100%;
    height: 100vh;
    
    position: relative;
    overflow: hidden;

    scroll-snap-align: start;
}

/* Portada */
article#portada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

article#portada img.fondo {
    width: auto;
    height: 100%;

    position: absolute;
    z-index: -1;

    filter: opacity(0.05);
}

article#portada section.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article#portada section.titulo h1 {
    font-size: 550%;
    font-weight: 900;

    color: var(--red-color) !important;
}

/* Quienes somos? */

article#quienesSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article#quienesSomos section.cuerpo {
    width: 60vw;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

article#quienesSomos section.cuerpo h2 {
    font-size: 550%;
    font-weight: 900;

    color: var(--red-color) !important;
}

article#quienesSomos section.cuerpo p {
    font-size: 120%;

    text-align: justify;
}

/* Dónde estamos? */
article#dondeEstamos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 10%;
}

article#dondeEstamos div.mapa {
    height: 100%;
    width: fit-content;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

article#dondeEstamos img.fondo {
    width: auto;
    height: 100%;
}

article#dondeEstamos a.marcador {
    width: 15vmin;

    position: absolute;
    bottom: 53%;
    right: 39%;
    z-index: 10000;
}

article#dondeEstamos a.marcador img {
    width: 100%;
    height: auto;
}

article#dondeEstamos section.cuerpo h2 {
    position: relative;
    z-index: 2;
    
    font-size: 550%;
    font-weight: 900;

    color: var(--red-color) !important;
}
