{% extends "base.html" %}
{%- import "componentes/nav.html" as navegacion -%}

{% block titulo %}Iniciar sesión{% endblock %}

{% block meta %}
<link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block nav %}{% call navegacion::nav(posicion="derecha", mostrarCuenta=false, mostrarAtras=true, mostrarDashboard=false) %}{% endblock %}

{% block contenido %}
<h1>Iniciar sesión</h1>
<form hx-post="/api/login" hx-target-error="#contenedorError">
    <div>
        <label for="mail">Mail:</label>
        <input type="email" name="mail">
    </div>
    <div>
        <label for="password">Contraseña:</label>
        <input type="password" name="password">
    </div>
    <input type="submit" class="confirmar" value="Iniciar sesión">
</form>
<div id="contenedorError" class="esconder" hx-on::after-settle="this.classList.remove('esconder')"></div>
<a href="/registrar">No tienes cuenta?</a>
{% endblock %}
