{% extends "base.html" %}
{%- import "componentes/nav.html" as navegacion -%}

{% block titulo %}Registrarse{% endblock %}

{% block meta %}
<link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block nav %}{% call navegacion::nav(posicion="derecha", mostrarCuenta=false, mostrarAtras=true, mostrarDashboard=false) %}{% endblock %}

{% block contenido %}
<h1>Registrarse</h1>
<form hx-post="/api/registrar" hx-target-error="#contenedorError">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre">
    </div>
    <div>
        <label for="mail">Mail:</label>
        <input type="email" name="mail">
    </div>
    <div>
        <label for="password">Contraseña:</label>
        <input type="password" name="password">
    </div>
    <input type="submit" class="confirmar" value="Registrarse">
</form>
<div id="contenedorError" class="esconder" hx-on::after-settle="this.classList.remove('esconder')"></div>
{% endblock %}
